.progress-bar {
  height: 8px;
  background: var(--accent);
  border-radius: 4px;
  margin-bottom: 4px;
}

.progress-bar-filled {
  background: var(--primary);
  width: 0%;
  transition: width 0.3s;
}
